@media (max-width: 1200px) {
  /* Section 1 */
  #home-section-one-group a {
    font-weight: 100;
    font-size: 3rem;
  }
}

/* So that navbar less than md won't clash with first image on each page */
/* Section 1 */
@media (max-width: 767px) {
  #home-section-one-group {
    margin-top: 200px;
  }

  #about-section-one-group {
    margin-top: 200px;
  }

  #ticket-section-one-group {
    margin-top: 200px;
  }
}

@media (min-width: 1199px) {
  /* Section 1 */
  #about-section-one-group .about-text {
    padding: 60px 0 90px 0;
  }
}