/* General */
body {
  background-image: url(../imgs/5-dots.png);
  font-family: "Nunito", sans-serif;
  color: #f5f5f5;
}

.blurb h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb i {
  color: #808080;
}

.blurb p {
  color: #b2b2b2;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

/* Navbar */
#mainNavbar {
  font-size: 1.5rem;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
  font-size: 1.5rem;
}

#mainNavbar .nav-link {
  color: #f5f5f5;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

/* Section 1 */
#section-one-group span {
  color: #ea1c2c;
}

#section-one-group a {
  font-weight: 100;
  font-size: 4rem;
  text-decoration: none;
  color: #f5f5f5;
}

/* Section 2 */
#section-two-group {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Section 3 */
#section-three-group {
  margin-bottom: 100px;
}

/* Section 4 */